.bio-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.bio-picture {
  margin-right: 1rem;
  margin-bottom: 0;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  filter: grayscale(40%);
}
.bio-text {
  display: inline-block;
  width: 200px;
  vertical-align: top;
}
@media screen and (max-width: 480px) {
  .bio-container {
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .bio-picture {
    width: 6rem;
    height: 6rem;
    margin-right: 0rem;
  }
  .bio-text {
    text-align: center;
  }
  .bio-text h3 {
    margin-bottom: 10px;
  }
  .bio-text span {
    font-size: 12px;
  }
}

.callout-txt {
  color: #c06014;
}
.peach {
  background-color: #eddbcd;
}
.black-txt {
  color: #111111;
}
.grey {
  background-color: #cdcdcd;
}
a.no-underline:hover {
  text-decoration: none;
}

.fullNav {
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  color: #fff;
  background-color: #666666;
  padding: 0 0.5rem 0 0.5rem;
  width: 100%;
  list-style-type: none;
  
  z-index: 9998;
  height: 3.5rem;
}
.fullNav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
}
.fullNav li {
  margin: 0;
}
.fullNav li img {
  display: inline-block;
  vertical-align: middle;
}
.fullNav ul div {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.fullNav ul div li {
  margin-left: 1.5rem;
}
.fullNav a {
  color: #fff;
}

.mobileNav {
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  color: #fff;
  background-color: #666666;
  padding: 0 0.5rem 0 0.5rem;
  width: 100%;
  list-style-type: none;

  z-index: 9998;
  height: 3.5rem;

  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.mobileNav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
}

.mobileNav li {
  margin: 0;
}

.mobileNav li:last-child {
  margin-left: auto;
  font-weight: 600;
  cursor: pointer;
}

.mobileNav li img {
  display: block;
  margin: auto;
}

.mobileStyle {
  position: fixed;
  background-color: #666666;
  color: #fff;
  display: block;
  padding: 1rem;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

.mobileStyle ul {
  list-style-type: none;
  padding: 0;
  margin: 1.5rem 0 0 0;
  height: 100%;
  text-align: center;
  font-size: 2rem;
  & div {
    text-align: center;
  }
}
.mobileStyle ul li {
  margin-top: 1rem;
}
.mobileStyle div {
  font-weight: 600;
  text-align: right;
}

h3 a{
  color:#c06014
}